<ion-view>
  <ion-content>
    <!--ng-if="player.isConnected"-->
    <div class="list card">
      <div class="item item-avatar">
        <img src="images/avatar_default.png">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </div>

      <div class="item item-image">
        <img src="images/disc_default.png">
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-music-note"></i>
        Start listening
      </a>
      <div class="button-bar">
        <button  id="prev" ng-click="prev()" class="button icon fa fa-step-backward"></button>
        <button  id="pause" ng-click="pause()" class="button icon fa fa-pause"></button>
        <button  id="play" ng-click="play()" class="button icon fa fa-play"></button>
        <button  id="stop" ng-click="stop()" class="button icon fa fa-stop"></button>
        <button id="next" ng-click="next()" class="button icon fa fa-step-forward"></button>
      </div>
        <div class="item item-text-wrap" >
          <div class="loader progress-bar player-bar" ng-style="{width: progressPercent+'%'}">
          </div>
        </div>
    </div>
    <!--<div ng-if="!player.isConnected">
      <h4 class="text-center"><strong>Le client n'est pas connecté</strong></h4>
    </div>-->

  </ion-content>
</ion-view>
