<ion-view>
  <ion-nav-buttons side="primary">
    <a  ng-if="player" class="button button-icon ion-music-note" ui-sref="library"></a>
    <a class="button button-icon ion-android-settings" ui-sref="settings"></a>
  </ion-nav-buttons>
  <ion-floating-button ng-if="player" click="openModal()" button-color="#008e90" bottom="150px" icon="ion-headphone" icon-color="#fff">
  </ion-floating-button>
  <ion-content class="has-footer" scroll="false">
   <div ng-if="!player">
      <h4 class="text-center"><strong>Le client n'est pas connecté</strong></h4>
    </div>
    <div ng-if="player" class="list card">
      <div class="item item-avatar">
        <h2 ng-if="player.currentSong">{{player.currentSong.title || player.currentSong.file}}</h2>
        <p ng-if="player.currentSong" class="current_song">{{player.currentSong.artist}}</p>
      </div>
      <div class="item item-body">
        <div class="item item-image">
          <img src="images/disc_default.png">
        </div>

      </div>
    </div>


  </ion-content>
  <ion-footer-bar ng-if="player">
    <div class="range range-positive">
      <input id="timer" type="range" name="volume" min="0" max="{{player.timer.time}}" ng-model="player.timer.counter" on-release="seek(player.timer.counter)">
    </div>
    <div class="bar bar-subfooter">
      <div class="button-bar">
        <button id="volMinus" on-tap="volMinus()" class="button fa fa-volume-down"></button>
        <button  id="volPlus" on-tap="volPlus()" class="button fa fa-volume-up"></button>
        <button ng-class="{'btn-selected': player.status.repeat}" id="repeat"  ng-click="repeat()" class="button fa fa-repeat"></button>
        <button ng-class="{'btn-selected': player.status.random}" id="random" ng-click="random()" class="button fa fa-random"></button>
      </div>
    </div>
    <div class="button-bar">
    <button  id="prev" on-tap="prev()" class="button icon fa fa-step-backward"></button>
    <button id="pause" on-tap="playOrPause()" class="button icon fa" ng-class="player.status.state == 'play' ? 'fa-pause': 'fa-play'"></button>
    <button  id="stop" on-tap="stop()" class="button icon fa fa-stop"></button>
    <button id="next" on-tap="next()" class="button icon fa fa-step-forward"></button>
  </div>
  </ion-footer-bar>
</ion-view>
