<!--<ion-view>
    <ion-content scroll="true">
        <ion-list
                show-delete="false"
                show-reorder="false"
                can-swipe="false">
            <ion-item ng-repeat="item in songList"
                      class="item-thumbnail-left" ng-click="playAt($index)">

                <img src="images/disc_default.png">
                <h2>{{item.artist || 'Unknown'}}</h2>
                <p>{{item.title || item.file}}</p>
                <ion-option-button class="button-positive"
                                   ng-click="addToQueue(item.file)">
                    Add to Queue
                </ion-option-button>
                <ion-option-button class="button-info"
                                   ng-click="edit(item)">
                    Add to Playlist
                </ion-option-button>
                <ion-reorder-button class="ion-navicon"
                                    on-reorder="reorderItem(item, $fromIndex, $toIndex)">
                </ion-reorder-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>-->
<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Queue</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Close</button>
    </ion-header-bar>
    <ion-content class="padding">
        <ion-list show-delete="false" show-reorder="false" can-swipe="true">
            <ion-item ng-repeat="item in player.playlist" class="item-thumbnail-left">
                <img src="images/disc_default.png">
                <h2>{{item.artist}}</h2>
                <p>{{item.title || item.file}}</p>
                <!-- <img src="images/disc_default.png"> -->

                <img src="images/right-arrow.png">
                <ion-option-button class="button-balanced" ng-click="playAt($index)">
                    Play it!
                </ion-option-button>
                <ion-option-button ng-hide="player.status.state == 'play' && $index==player.status.song" class="button-positive" ng-click="delete($index)">
                    Remove
                </ion-option-button>
                <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)">
                </ion-reorder-button>
                </ion-row>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>