<ion-view>
  <ion-content class="padding has-header">
    <div ng-if="player" class="col-md-6 col-md-offset-3" >
      <p>Vous &ecaron;tes connect&eacute; &agrave; {{player.host}}:{{player.port}}</p>
      <button class="btn btn-default" on-tap="disconnect()">Se déconnecter</button>
    </div>
    <div ng-if="!player" class="list list-inset">
        <h3>Saisir les données du serveur</h3>
        <form>
            <label class="item item-input">
                <i class="icon ion-edit placeholder-icon"></i>
                <input type="tel" placeholder="Host" ng-model="player.host">
            </label>

            <label class="item item-input">
                <i class="icon ion-edit placeholder-icon"></i>
                <input type="tel" placeholder="Port" ng-model="player.port">
            </label>
            <div>
                <button class="button button-block" ng-click="connect(player)">Se connecter</button>
                <button class="button button-block" ng-click="connect()">Connection par défaut</button>
            </div>
        </form>
    </div>
  </ion-content>
</ion-view>
